@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'belwe_bd_btbold';
    src: url('/public/font/belwe-webfont.woff2') format('woff2'),
         url('/public/font/belwe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'belwe_bd_btbold';
}